.logo-smint {
    width: 15%;
}

.logo-smint_2 {
    width: 45%;
}

body {
    background-image: url(/img/lomnnn.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.pie {
    background-color: aliceblue;
    border-radius: 8px;
}

.active2 {
    color: black;
}

.negro {
    color: rgb(95, 95, 95);
}

.negro:hover {
    color: rgb(158, 158, 158);
}

.radio {
    border-radius: 8px;
}


.lol {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}